server:
  port: 8085

spring:
  application:
    name: billing-service

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_billing
    username: root
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
